<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<th:block th:include="/menu"></th:block>

<div class="container">
    <h3 class="text-dark" th:if="${#request.userPrincipal == null}">Welcome to the page! <br>You need to log in before using this site.</h3>
    <h3 class="text-dark" th:if="${#request.userPrincipal != null}">Welcome to the page! <br>You can choose one of the options on top of the page!</h3>
</div>
</body>
</html>